.navbar {
    background-color: #ffa000;
    margin-bottom: 10px;
}

.navBrand {
    color: #5e2445;
    font-family: 'Bangers', cursive;
    font-size: 30px;
}

.calender {
    padding-left: 10px;
}

/* .navBrand:hover {
    text-decoration: none;
    color: #5e2445;
} */