body { 
    /* background: url(../assets/background.jpg) no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

.form-container{
    margin: auto;
    padding: 0px 20px 20px 20px;
    max-width: 500px;
    background-color: lightgray;
}

#root{
    background-color: darkgrey;
}