.sideBarStyle {
    /* background-color: lightgrey; */
    justify-content: flex-start;

}

.mainStyle {
    /* background-color: lightgrey; */
    justify-content: flex-end;
}

.profileContainer {
    display: flex;
    flex-direction: row;
}