.sideBarStyle {
    /* background-color: lightgrey; */
    justify-content: flex-start;
}

.mainStyle {
    justify-content: flex-start;
}

.createdEventsStyle {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.profileContainer {
    display: flex;
    flex-direction: row;
}